@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: rgb(247, 247, 247);
  -webkit-user-select: none;
}

.leftside {
  width: 70vw;
  height: 120vh;
  margin-top: 10vh;
}
.rightside {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 2px solid gray;
}
.icon {
  font-size: 2vw;
  outline: none;
}
.profilePic {
  width: 20vw;
  margin: 0 5vw;
  margin-top: 10vh;
  border-radius: 25px;
  border: 0.2px solid gray;
}
.name {
  margin-top: 2vh;
  font-size: 2.5vh;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: rgb(59, 59, 59);
  -webkit-user-select: auto;
}

.buttons {
  margin: 0 4vw;
  margin-top: 10vh;
}
.box:hover {
  opacity: 0.2;
  cursor: pointer;
}
.projects {
  display: flex;
  margin: 7vh 5vw;
  padding: 2vh;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 20px;
}
.projects:hover {
  cursor: pointer;
}
.photo {
  height: 20vh;
  width: auto;
  border-radius: 20px;
}
.content {
  margin-left: 2vw;
}
.title {
  margin: 1vw;
  font-size: 5vh;
  font-family: "Lexend", sans-serif;
}
.description {
  font-size: 2vh;
  margin: 1vw;
  font-family: "Lexend", sans-serif;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}
.col1 {
  display: flex;
  justify-content: space-around;
}
.col2 {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
}
.clickable {
  font-size: 1.5vw;
  font-family: "Lexend", sans-serif;
  cursor: pointer;
}
.language {
  margin: 4vh 5vw;
  border: 1px solid black;
  border-radius: 25px;
  padding: 2%;
  font-family: "Lexend", sans-serif;
  display: flex;
  font-size: 1.1vw;
  justify-content: space-around;
}
.library {
  margin: 4vh 5vw;
  border: 1px solid black;
  border-radius: 25px;
  padding: 2%;
  font-family: "Lexend", sans-serif;
  font-size: 1.1vw;
  display: flex;
  justify-content: space-around;
}

.storage {
  margin: 4vh 5vw;
  border: 1px solid black;
  border-radius: 25px;
  padding: 2%;
  font-size: 1.1vw;
  font-family: "Lexend", sans-serif;
  display: flex;
  justify-content: space-around;
}
.roles {
  margin: 2vw;
  font-size: 2.1vh;
  font-family: "Lexend", sans-serif;
}
.inner {
  display: flex;
}
@media only screen and (max-width: 1100px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .leftside {
    width: 100vw;
    margin: 0;
  }
  .rightside {
    position: relative;
    display: flex;
    height: auto;
    border-left: 0px;
  }
  .language {
    font-size: 2vw;
    justify-content: space-around;
  }
  .library {
    font-size: 2vw;
  }
  
  .storage {
    font-size: 2vw;
  }
  .info {
    width: 50vw;
    margin-top: 7vh;
  }
  .profilePic {
    width: 50vh;
    height: 50vh;
  }
  .buttons {
    margin: 0 4vw;
    margin-top: 5vh;
  }
  .icon {
    font-size: 5vw;
    outline: none;
  }
  .box{
    border: 1px solid black;
    width: 20vw;
    height: 7vh;
  }
  .clickable{
    font-size: 2vw;
  }
}

@media only screen and (max-width: 800px) {
  .rightside{
    flex-direction: column;
  }
  .profilePic {
    width: 90vw;
    height: 90vw;
  }
  .info{
    width: 100vw;
  }
  .language {
    font-size: 3vw;
    justify-content: space-around;
  }
  .library {
    font-size: 3vw;
  }
  
  .storage {
    font-size: 3vw;
  }
  .buttons {
    margin: 0 4vw;
    margin-top: 5vh;
  }
  .icon {
    font-size: 10vw;
    outline: none;
  }
  .box{
    width: 44vw;
    height: 12vh;
  }
  .clickable{
    font-size: 4vw;
  }
  .name{
    margin-top: 0;
    font-size: 5vw;
  }
  .inner{
    flex-direction: column;
  }
  .photo{
    width: 85vw;
    height: 50vw;
  }
  .content {
    margin: 0;
  }
}
